
body {
    border:0;
    margin:0;

    --main-red1:#e33326;
    --main-red2: #e95c51;
    --main-purpule: #902b84;
    --main-green: #25b335;
    --main-blue: #3e25e2;
    --blue-high: #5d74fa;
    --blue-low: #1d05ba;
    --main-orange: #e29025;
    --main-bg-grey: #a9a9a9;
    --shift-card-grey: #fcfbfe;

    --z-very-top:100;
    --z-top:50;
    --z-middle:10;
    --z-background:0;
    --z-background-far:-50;

    background-color: white;

    display: flex;
    flex-direction: column;
    width: 100vw;

    font-family: "Nunito", sans-serif;

    z-index: var(--z-background);


}



/***  Admin and Signin NAV BAR ****/
.navwrapper{
display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
background-color: white;
width: 100vw;
z-index: var(--z-very-top);
}

.username{
    display: flex;
    flex-direction: row;
    color: white;
    width: 15vw;
    /* background-color: aqua; */
    margin-left: 2vw;
    font-size: 17px;
    font-weight: 400;
    justify-content: space-between;
}


.admin-dashboard-icon{
    /* font-size: 2em; */
    height: 50px;
    width: 50px;
    border-radius: 10%;
    margin-top: 10px;
    margin-right: 10px;
    background: white;
}



.signout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: auto;
    /* background-color: aqua; */
    margin-right: 2vw;
    text-align: left;
    font-size: 14px;
    font-weight: 600;

}





/****  DATE BAR  ****/

.date-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 5vh;
    height:10vh;
    width: 100vw;
    margin: 5% 0 0 0;
    background-color: white;
    border-bottom: 1px solid red;
    z-index: var(--z-very-top);
}
#search-button{
    border: 3px solid red; height:40px; width: 80px;
    font-size: 20px;
    background-color: #fcfbfe;
    /* border-radius:20%; */
    
}

#search-button:hover {
    background-color: red;
    border: 1px solid black;
    color: white;
}

.date-drop{
  font-size: 15px; 
  border: 3px solid red; min-height: 30px;
  height: 20px;
  width: 50%;
}

.date-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    list-style: none;
    background-color:var(--blue-high);
    color: white;
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;

}

/* .date-bar ul li{
    width: 10%;
    border: 3px solid var(--blue-low);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2px 0 2px;
} */

/* .date-bar ul li:nth-child(1),
.date-bar ul li:last-child{
font-size: 1em;
border: none;
color: var(--shift-card-grey);
} */

/****  SHIFT CARDS  ****/

.shift-cards-wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    margin-top: 23vh;
    -index: var(--z-middle);
    }

.shift-card{
    border-bottom;: 3px solid rgba(255, 1, 1, 0.137);
    background-color: rgba(236, 236, 236, 0.466);
    margin-bottom: 5vh;

}

h5 {
    margin-left: 10px;
}
.shiftBtnStyle {
    color: #e33326;
    justify-content: center;
}

.shift-staff-names{
list-style-type: none;

/* box-shadow: 0 0 1em 1em #ccc; */
/* padding: 0;
margin: 0; */
display: flex;
flex-direction: row;


}
.hours-staff-worked{
/* box-shadow: 0 0 1em 1em #ccc; */
}

.shift-time{
 /* box-shadow: 0 0 1em 1em #ccc; */
 color: red;

}

.shift-location{

 /* box-shadow: 0 0 1em 1em #ccc; */

}

.shift-client{
/* box-shadow: 0 0 1em 1em #ccc; */
font: bolder;
font-size: 15px;

}

.shift-client-details-button, 
.shift-edit-shift-button, 
.shift-delete-button{
font-size: 40px;
}

.shift-edit-shift-button{

}

.shift-delete-button{

}


/*  Add new Client Button  */
/*  This should toggle between the new-client-wrapper
/*  i.e. only one should be displayed at any time
*/

.addButton{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3vh;
    right: 5vw;
    background-color: white ;
    /* var(--main-blue) */
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: black;
    border:5px solid black;
    border-radius: 50%;
    z-index:var(--z-very-top);

}



/*********  NEW CLIENTS  ******/

#new-client-wrapper{
display: hidden;
}
.times{

}

.new-shift-assigned-to{

    

}

.new-client-namel{

    

}

.new-client-time{

   

}

.new-client-time{



}

.new-client-comments{



}

.new-client-submitt{



}

/*---------- modal styling ----------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 999;
}

#closer{
    text-align: right;
    color: #e33326;
    z-index: 999;
}


@media only screen and (max-device-width: 501px) {
    .date-bar {
        margin-top: 20px;
    }