
body {
    border:0;
    margin:0;

    --main-red1:#e33326;
    --main-red2: #e95c51;
    --main-purpule: #902b84;
    --main-green: #25b335;
    --main-blue: #3e25e2;
    --main-orange: #e29025;
    --main-bg-grey: #a9a9a9;
    --shift-card-grey: #fcfbfe;

    background-color: var(--main-bg-grey);

    display: flex;
    flex-direction: column;
    width: 100vw;

    font-family: "Nunito", sans-serif;




}


.navwrapper{
display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
background-color: var(--main-blue);
color: white;
width: 100vw;
}

.username{
    display: flex;
    flex-direction: row;
    color: white;
    width: 15vw;
    /* background-color: aqua; */
    margin-left: 2vw;
    font-size: 17px;
    font-weight: 400;
    justify-content: space-between;
}


.admin-dashboard-icon{
    /* font-size: 2em; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid orange;
    margin-top: 10px;
    margin-right: 10px;
}



.signout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: auto;
    /* background-color: aqua; */
    margin-right: 2vw;
    text-align: left;
    font-size: 14px;
    font-weight: 600;

}





.shift-card{
    border: 5px solid #2222;
    background-color: var(--shift-card-grey);
    margin-bottom: 5vh;
}

.shift-cards-wrapper{



}

.shift-staff-names{



}

.shift-time{



}

.shift-location{



}

.shift-client{

}

.shift-client-details-button, 
.shift-edit-shift-button, 
.shift-delete-button{
font-size: 40px;
}

.shift-edit-shift-button{

}

.shift-delete-button{

}

.addButton{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    background-color: var(--main-blue);
    width: 80px;
    height: 80px;
    font-size: 50px;
    color: white;
    border:5px solid white;
    border-radius: 50%;

}

.new-client-wrapper{



}

.new-shift-assigned-to{



}

.new-client-namel{



}

.new-client-time{



}

.new-client-time{



}

.new-client-comments{



}

.new-client-submitt{



}

